body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
  }
  
  #scoreboard {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #game-board {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 340px;
    margin: auto;
  }
  
  .game-button {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  
  #red {
    background-color: rgb(255, 29, 29);
  }
  
  #green {
    background-color: rgb(13, 204, 13);
  }
  
  #blue {
    background-color: rgb(17, 17, 202);
  }
  
  #yellow {
    background-color: rgb(255, 255, 34);
  }
  
  .pressed {
    opacity: 0.2;
  }
  
  #start {
    margin-top: 20px;
  }
